#update {
    display: none;
}

body{
    width: 90%;
}
h1 {
    margin: auto;
    margin-top: 2em;
    margin-left: 10em;
    margin-bottom: 3em;
}

/* Form And Image Start */
.container {
    display: flex;
    width: 56em;
    margin-left: 20em;
    border: 1px solid black;
    border-radius: 1em;
}

.container img {
    margin-top: 8em;
    width: 30em;
}

.row {
    display: flex;
    flex-direction: column;
    background-color: #2E4F4F;
    width: 30em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.row input {
    outline: none;
    border: none;
    color: white;
    margin-bottom: 1em;
    border-bottom: 2px solid rgb(223, 218, 218);
    width: 25em;
    height: 3em;
    background-color: #2E4F4F;

}

.form-group {
    margin-left: 1em;
    margin-top: 1em;
}

input[type=file] {
    border: none;
    margin: none;
}

.row label {
    color: yellowgreen;
}

.addData {
    border: none;
    outline: none;
    color: white;
    width: 7em;
    height: 2em;
    border-radius: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 17px;
    background-color: #008000;
}

.updateData {
    border: none;
    outline: none;
    color: white;
    width: 7em;
    height: 2em;
    border-radius: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 17px;
    background-color: #539165;

}

/* Form And Image End */

/* Filter and Search  Start*/
.sortfilter {
    display: flex;
    margin-left: 8em;
}

.sortData {
    margin-left: 5em;
    margin-top: 1em;

}

.sortData button {
    border: none;
    outline: none;
    color: white;
    width: 7em;
    height: 2.5em;
    border-radius: .8em;
    margin-top: 3em;
    margin-left: 1em;
    font-size: 17px;
    background-color: #5bc0de;
}

.searchBar input {
    margin-left: 14em;
    margin-top: 5em;
    width: 50em;
    height: 3em;
    border: 2px solid gray;
    border-radius: 0.5em;
}

/* Filter and Search  End*/

/* Card Start */
.products{
    margin-left: 20em;
    margin-top: 3em;
    font-size: 30px;
}
.iconImg {
    display: flex;
}

.view {
    border: none;
    outline: none;
    background-color: #d9534f;
    color: white;
    height: 2em;
    width: 3em;
    font-size: 15px;
    margin-left: -1em;
    border-radius: 0.5em;
    
}

.edit {
    border: none;
    outline: none;
    color: white;
    height: 2em;
    width: 3em;;
    font-size: 15px;
    margin-left: 1em;
    border-radius: 0.5em;
    
}
.delete {
    border: none;
    outline: none;
    background-color: #d9534f;
    color: white;
    height: 2em;
    width: 3em;
    font-size: 15px;
    margin-left: 1em;
    border-radius: 0.5em;
    margin-right: 1em;
    
}
.carView{
    display: flex;
    gap:2em;
    margin-top: 5em;
    margin-left: 6em;
    flex-wrap: wrap;
    width: 90em;
    
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid rebeccapurple;
    box-shadow: 2px 2px 6px #ccc,-2px -2px 10px #ccc;
    height: 12em;
    width: 12em;
    margin-left: 5em;
    margin-top: 1em;
    border-radius: .5em;
}
.image-of-product {
    height: 5em;
    width: 5em;
    margin-left: 3.3em;
    margin-top: -2em;
    /* border: 2px solid #3F497F; */
    border-radius: 5em;
}
h2{
    font-size: 1em;
    margin-left: 2em;
}
h3{
    font-size: 1em;
    margin-left: 2em;
}
/* Card End */