#update {
    display: none;
}
h2{
    width: 60em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
}

.container{
    display: flex;
    margin-left: 20em;
}
.container img{
    
    width: 30em;
}
.row{

    display: flex;
    flex-direction: column;
}
.row input{
    border: none;
    border-bottom: 1px solid gray;
    width: 40em;
    height: 2.5em;
    margin-top: .5em;
    border-color: gray;
}
.sortData input{
    margin-left: 14em;
    margin-top: 5em;
    width: 40em;
    height: 3em;
    border: 2px solid gray;
    border-radius: 0.5em; 
}
.sortData button{
    border: none;
    outline: none;
    color: white;
    width: 7em;
    height: 2.5em;
    border-radius: .8em;
    margin-top: 2em;
    margin-left: 2em;
    font-size: 17px;
    background-color:#5bc0de;
}
.searchBar input{
    margin-left: 14em;
    margin-top: 5em;
    width: 90em;
    height: 3em;
    border: 2px solid gray;
    border-radius: 0.5em; 
}
.form-group{
    margin-top: 1em;
}
table,th,td{
    border: 1px solid black;
}
table{
    margin-top: 5em;
    border-collapse: collapse;
    margin-left: 12em;
}
.addData{
    border: none;
    outline: none;
    color: white;
    width: 7em;
    height: 2em;
    border-radius: .8em;
    margin-top: 2em;
    font-size: 17px;
    background-color:#008000;
}
.updateData{
    border: none;
    outline: none;
    color: white;
    width: 7em;
    height: 2em;
    border-radius: .8em;
    margin-top: 2em;
    font-size: 17px;
    background-color:#00BFFF;

}
.cardView{
    display: flex;
    margin-top: 5em;
   
}
.card{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5em;
    border-radius: 2em;
    width: 20em;
    /* justify-content: center; */
}
.card>img{
    margin-top: -2em;
 height: 8em;  
   
}
.iconImg{
    display: flex;
}
.view{
    border: none;
    outline: none;
    background-color: #d9534f;
    color: white;
    height: 2em;
    width: 5em;
    font-size: 15px;
    margin-left: 1em;
    border-radius: 0.5em;
    
}
.image-of-product{
    height: 3em;
    width: 5em;
}
.delete{
    border: none;
    outline: none;
    background-color: #d9534f;
    color: white;
    height: 2em;
    width: 4em;
    font-size: 15px;
    margin-left: 1em;
    border-radius: 0.5em;
    
}
.edit{
    border: none;
    outline: none;
    background-color: #f0ad4e;
    color: white;
    height: 2em;
    width: 4em;
    font-size: 15px;
    margin-left: 1em;
    border-radius: 0.5em;
    margin-right: 1em;
    
}
